
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
width: 100%;
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
--bd-violet-bg: #712cf9;
--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

--bs-btn-font-weight: 600;
--bs-btn-color: var(--bs-white);
--bs-btn-bg: var(--bd-violet-bg);
--bs-btn-border-color: var(--bd-violet-bg);
--bs-btn-hover-color: var(--bs-white);
--bs-btn-hover-bg: #6528e0;
--bs-btn-hover-border-color: #6528e0;
--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
--bs-btn-active-color: var(--bs-btn-hover-color);
--bs-btn-active-bg: #5a23c8;
--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
display: block !important;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.btn-tooltip {
    background-color: #6c757d; /* Color del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el cambio de color */
}

.btn-tooltip:hover {
    background-color: #ffffff; /* Color de fondo al pasar el ratón */
    color: #6c757d; /* Cambia el color del texto al pasar el ratón */
}

.tooltip-message {
    visibility: hidden;
    width: 200px; /* Ancho del tooltip */
    background-color: black; /* Color de fondo del tooltip */
    color: #fff; /* Color del texto del tooltip */
    text-align: center; /* Centra el texto */
    padding: 5px 0; /* Espaciado interno */
    border-radius: 6px; /* Bordes redondeados */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Muestra el tooltip arriba del botón */
    left: 50%;
    margin-left: -100px; /* Centra el tooltip */
    opacity: 0;
    transition: opacity 0.3s; /* Transición suave */
}

.tooltip-container:hover .tooltip-message {
    visibility: visible;
    opacity: 1; /* Muestra el tooltip al pasar el ratón */
}

.star {
    font-size: 2rem; /* Tamaño de la estrella */
    color: #ccc; /* Color por defecto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.star.selected {
    color: gold; /* Color cuando está seleccionada */
}