.botones_img {
    align-self: center;
    display: flex;
    font-size: 16px;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
  }

  .boton_registro,.boton_reservar {
    background-color: rgba(255, 255, 255, 0.254);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-family: Inter, sans-serif;
    padding: 12px;
    width: 90px;
  }
  
  .boton_registro:hover, .boton_reservar:hover{
    background-color: #f7f7f7;
    color: rgba(22, 81, 128);
  }
 
  .boton-aceptar, .boton-volver-reserva{
    width: 150px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 #d7d7d7;
    height: 35px;
    color: #3403b0;
    margin-left: 20px;
    margin-top: 20px;
  }

  .columna-botones {
    width: 5%;
  }

  .boton-eliminar {
    background-color: rgb(200, 0, 0);
    border: 2px solid rgb(200, 0, 0);
    color: white;
    border-radius: 3px;
  }

  .action-buttons{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 30px;
    letter-spacing: 0.1px;
    line-height: 143%;
    margin-top: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
    justify-content: center;
  }

  .boton-borrar, .boton-guardar
  {
    width: 90px;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 #d7d7d7;
    height: 35px;
    margin-top: 20px;
    color: #3403b0;

  }

  .boton-volver-tabla-registro, .boton-volver-seccion-reservacion{
    background-color: #ffffff;
    border: 3px solid #3403b0;
    border-radius: 50px;
    font-family: Inter, sans-serif;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.boton-pagar{
    margin-top: 30px;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color:  rgb(54, 3, 196);
    border-radius: 5px;
    border: none;
    color: #ffffff;
  }

   /*TRANSFORMACION*/
   .boton_registro:hover,
   .boton_reservar:hover, 
   .boton-borrar:hover, 
   .boton-guardar:hover,
   .boton-eliminar:hover,
   .boton-volver-seccion-reservacion:hover, 
   .boton-aceptar:hover, .boton-pagar:hover,
   .boton-volver-tabla-registro:hover,
    .boton-volver-reserva:hover, .boton-volver-costos:hover
   {
       transform: scale3d(1.1,1.1,1);
       transition: 0.10s;
       box-shadow: 0 4px 4px 0 rgba(22, 81, 128, 1);
       transition: all 0.5s;
   }

   .boton-volver-costos{
    background-color:transparent;
    color: rgb(54, 3, 196);
    border: none;
    border-radius: 3px;
    align-self:flex-end;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border-radius: 100%;
   }