<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login3/register/" method=POST>
      {% csrf_token %}
      <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>
      <div class="mb-3">
        <label for="cedula">cedula</label>
        <input type="number" id="cedula" name="cedula">
      </div>
      <div class="mb-3">
        <label for="nombre">nombre</label>
        <input type="text" id="nombre" name="nombre">
      </div>
      <div class="mb-3">
        <label for="apellido">apellido</label>
        <input type="text" id="apellido" name="apellido">
      </div>
      <div class="mb-3">
        <label for="direccion">direccion</label>
        <input type="text" id="direccion" name="direccion">
      </div>
      <div class="mb-3">
        <label for="correo">correo</label>
        <input type="email" id="correo" name="correo">
      </div>
      <div class="mb-3">
        <label for="telefono">telefono</label>
        <input type="number" id="telefono" name="telefono">
      </div>
      <div class="mb-3">
        <label for="tipo">tipo</label>
        <input type="text" id="tipo" name="tipo">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>