
{% load static %}

<html>

<head>
    <title>Super Calidad Market</title>
    <link rel="icon" type="image/png" href="{% static 'login/resource/icono supermercado.png' %}">
    <link rel="stylesheet" href="{% static 'login/css/Cliente.css' %}">
</head>

<body>
    <div class="contenedor">
        <div class="Div_caidan">

            <nav class="Caidan">

                <p class="biaoti">Super Calidad Market</p>

                <div class="bloque_opcion">

                    <img src="{% static 'login/resource/icon login.png' %}" alt="icono_login" width="24px" height="24px">
                    <span>Perfil</span>

                </div>

                <div class="bloque_opcion">
                    <img src="{% static 'login/resource/Admin/Inventario.png' %}" alt="icono_login" width="24px" height="24px">
                    <span>Inventario</span>
                </div>

                <div class="bloque_opcion">
                    <img src="{% static 'login/resource/Admin/empleado icon.png' %}" alt="icono_login" width="24px" height="24px">
                    <span>Empleado</span>
                </div>

                <div class="bloque_opcion">
                    <img src="{% static 'login/resource/Admin/agregar icon.png' %}" alt="icono_login" width="24px" height="24px">
                    <span>Agregar Empleado</span>
                </div>

                <div class="bloque_opcion">
                    <img src="{% static 'login/resource/Admin/pedido historial icon.png' %}" alt="icono_login" width="24px" height="24px">
                    <span>Pedido Actual</span>
                </div>


                <div class="bloque_opcion">
                    <img src="{% static 'login/resource/Admin/pedido historial icon 2.png' %}" alt="icono_login" width="24px" height="24px">
                    <span>Pedido Historial</span>
                </div>
            </nav>

        </div>
        <div class="Div_otros">
            <header class="Dingbu">
                <p>¡Nombre_de_Jefe!</p>

                <div class="como_boton">
                    <img src="{% static 'login/resource/salir icon.png' %}" width="36px" height="36px">
                    <a href="" class="modificar_login">Salir</a>
                </div>
            </header>
            <div class="contenido">
                <h1>Perfil Personal</h1>
                <div class="contenido_personal">
                    <figure>
                        <img src="{% static 'login/resource/icon login.png' %}" width="48px" height="48px">
                    </figure>
                    <p>Nombre: Link</p>
                    <p>Apellido: Boluo</p>
                    <p>Direccion: Teyvat</p>
                    <button>Modificar Información Personal</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>