{% load static %}

<html>

<head>
    <title>Super Calidad Market</title>
    <link rel="icon" type="image/jpg" href="{% static 'login/resource/icono supermercado.png' %}">
    <link rel="stylesheet" href="{% static 'login/css/Cliente.css' %}">
</head>

<body>
    <div class="contenedor">
        
        <div class="Div_otros">
            

            <div class="como_boton">
                <img src="{% static 'login/resource/salir icon.png' %}" width="36px" height="36px">
                <a href="{% url 'vista pagina principal' %}" class="modificar_login">Salir</a>
            </div>
                
            <div class="contenido">
                <h1>Perfil Personal</h1>
                <div class="contenido_personal">
                    <figure>
                        <img src="{% static 'login/resource/icon login.png' %}" width="48px" height="48px">
                    </figure>
                    <p>Nombre de usuario: {{ user.username }}</p>
                    <p>Nombre: {{ user.nombre }}</p>
                    <p>Apellido: {{ user.apellido }}</p>
                    <p>Cédula: {{ user.cedula }}</p>
                    <p>Dirección: {{ user.direccion }}</p>
                    <p>Correo: {{ user.correo }}</p>
                    <p>Teléfono: {{ user.telefono }}</p>
                    <button onclick="redirigir('/register/')">Modificar Información Personal</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'navbar/script.js' %}"></script>
</body>

</html>