{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Acordeón para el historial de facturas -->
<div class="container" style="margin-top: 5%;">
  <h1 class="text-center display-4 mb-5">Historial de Facturas</h1>
  <div class="accordion mx-auto col-lg-8" id="facturasAccordion">
    {% for factura in facturas %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ factura.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ factura.id }}" aria-expanded="false" aria-controls="collapse{{ factura.id }}">
          Factura #{{ factura.codigo }} - Fecha: {{ factura.fecha }}
        </button>
      </h2>
      <div id="collapse{{ factura.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ factura.id }}" data-bs-parent="#facturasAccordion">
        <div class="accordion-body">
          <h4>Factura de Compra</h4>
          <p><strong>Código de Factura:</strong> {{ factura.codigo }}</p>
          <p><strong>Fecha:</strong> {{ factura.fecha }} {{ factura.hora }}</p>
          <p><strong>Nombre del Cliente:</strong> {{ user.nombre }} {{ user.apellido }}</p>
          <p><strong>Cédula:</strong> {{ user.cedula }}</p>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in productos_facturados.items %}
                {% if key == factura.id %}
                  {% for producto in value %}
                  <tr>
                    <td>{{ producto.producto.nombre }}</td>
                    <td>{{ producto.cantidad }} {{ producto.producto.unidad }}</td>
                    <td>${{ producto.producto.precio }} (c/{{ producto.producto.unidad }})</td>
                    <td>${{ producto.subtotal }}</td>
                  </tr>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <hr>
          <p><strong>Total de la Factura:</strong> ${{ factura.total }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
