<html>
    <head>
        <title>Super Calidad Market</title>
        <link rel="icon" type="image/jpg" href="../public/resource/icono supermercado.png">
        <link rel="stylesheet" href="../public/css/index.css">
    </head>
    <body>
        <header class="toubu">
            <h1 class="biaoti">Super Calidad Market</h1>
            <div class="como_boton">
                <img src="../public/resource/icon login.png" width="36px" height="36px">
                <a href="" class="modificar_login">Login</a>
            </div>
        </header>
        <nav class="nav_bar">
            <ul>
                <li><a href="#">Combo</a></li>
                <li><a href="#">Famosos</a></li>
            </ul>
        </nav>

        <div id="image-slider" class="slider">
            <img src="../public/resource/supermercado1.jpg" alt="Imagen 1" class="slide active">
            <img src="../public/resource/mercado1.jpg" alt="Imagen 2" class="slide">
            <img src="../public/resource/fondo_practica2.avif" alt="Imagen 3" class="slide">
    
            <button class="prev-btn"> < </button>
            <button class="next-btn"> > </button>
        </div>

        <h2 class="biaoti2">¡Recetas Recomendado!</h2>

        <div class="area_receta">

            <div class="receta_kapian">
                <figure>
                    <img src="../public/resource/arepa.jfif">
                </figure>
                <div class="informacion">
                    <p class="nombre">Arepa</p>
                    <button>Ver Más detalles</button> <br>
                    <button>Añadir al carrito</button>
                </div>
            </div>

            <div class="receta_kapian">
                <figure>
                    <img src="../public/resource/cachapa.jfif">
                </figure>
                <div class="informacion">
                    <p class="nombre">Cachapa</p>
                    <button>Ver Más detalles</button> <br>
                    <button>Añadir al carrito</button>
                </div>
            </div>

            <div class="receta_kapian">
                <figure>
                    <img src="../public/resource/arepa.jfif">
                </figure>
                <div class="informacion">
                    <p class="nombre">Arepa</p>
                    <button>Ver Más detalles</button> <br>
                    <button>Añadir al carrito</button>
                </div>
            </div>

            <div class="receta_kapian">
                <figure>
                    <img src="../public/resource/cachapa.jfif">
                </figure>
                <div class="informacion">
                    <p class="nombre">Cachapa</p>
                    <button>Ver Más detalles</button> <br>
                    <button>Añadir al carrito</button>
                </div>
            </div>
        </div>

        <footer class="dibu">
            <p>&copy; 2024 Super Calidad Supermarket. Todos los derechos reservados.</p>
        </footer>

    </body>
    <script src="../public/js/index.js"></script>
</html>