{% load static %}

<html>

<head>
    <title>Acceso a su cuenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'login/resource/icono supermercado.png' %}">
    <link rel="stylesheet" href="{% static 'login/css/registrar_cuenta.css' %}">
</head>

<body>

    <div class='wrapper'>
        <form action=''>
            <h1 class="Cambio_titulo_estilo">Registrar Cuenta</h1>

            <div class="Cuenta_Real">
                <div class="parte1">
                    <label for="" class="inf_titulo">Nombre del Cuenta</label>
                    <input type="text" placeholder='Ej: Alfredo100' class="input_mitad" required />
                </div>
                <div class="parte1">
                    <label for="" class="inf_titulo">Contraseña del Cuenta</label>
                    <input type="password" class="input_mitad" placeholder="Mínimo 8 caracteres" required />
                </div>
            </div>

            <div class="Cuenta_Real">
                <div class="parte1">
                    <label for="" class="inf_titulo">Nombre del Usuario</label>
                    <input type="text" placeholder='Ej: Alfredo' class="input_mitad" required />
                </div>
                <div class="parte1">
                    <label for="" class="inf_titulo">Apellido del Usuario</label>
                    <input type="text" class="input_mitad" placeholder="Ej: Rodriguez" required />
                </div>
            </div>

            <div class="parte2">
                <label for="" class="ceshi_biaoti">Correo del Usuario</label>
                <input type="text" placeholder='Ej: Alfredowuuuu@example.com' required />
            </div>

            <div class="parte2">
                <label for="" class="ceshi_biaoti">Número de teléfono del Usuario</label>
                <div class="area_telefono">
                    <select name="" id="">
                        <option value="">0412</option>
                        <option value="">0424</option>
                        <option value="">0416</option>
                        <option value="">0414</option>
                        <option value="">0426</option>
                        <option value="">0212</option>
                    </select>
                    <input type="text" placeholder='Ej: 8888-8888888' required />
                </div>
            </div>

            <div class="parte2">
                <label for="" class="ceshi_biaoti">Dirección del Usuario</label>
                <input type="text" placeholder='Ej: San Diego' required />
            </div>

            <button type='submit'>Entrar</button>
        </form>
    </div>

</body>

</html>