{% load static %}

<html>

<head>
    <title>Acceso a su cuenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'login/resource/icono supermercado.png' %}">
    <link rel="stylesheet" href="{% static 'login/css/registrar_cuenta.css' %}">
</head>

<body>

    <div class='wrapper'>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'userdata' username=user.username %}">
        {% else %}
            <form method="post" action="{% url 'register' %}">
        {% endif %}
            {% csrf_token %}
            <h1 class="Cambio_titulo_estilo">Registrar Cuenta</h1>

            <div class="Cuenta_Real">
                <div class="parte1">
                    <label for="username" class="inf_titulo">Nombre del Cuenta</label>
                    <input name="username" value="{% if user.is_authenticated %}{{user.username}}{% else %}{% endif %}"  type="text" placeholder='Ej: Alfredo100' class="input_mitad" required />
                </div>
                {% if not user.is_authenticated %}
                    <div class="parte1">
                        <label for="password" class="inf_titulo">Contraseña del Cuenta</label>
                        <input name="password" type="password" class="input_mitad" placeholder="Mínimo 8 caracteres" required />
                    </div>
                {% endif %}
            </div>

            <div class="Cuenta_Real">
                <div class="parte1">
                    <label for="nombre" class="inf_titulo">Nombre del Usuario</label>
                    <input name="nombre" value="{% if user.is_authenticated %}{{user.nombre}}{% else %}{% endif %}" type="text" placeholder='Ej: Alfredo' class="input_mitad" required />
                </div>
                <div class="parte1">
                    <label for="apellido" class="inf_titulo">Apellido del Usuario</label>
                    <input name="apellido" value="{% if user.is_authenticated %}{{user.apellido}}{% else %}{% endif %}" type="text" class="input_mitad" placeholder="Ej: Rodriguez" required />
                </div>
            </div>

            <div class="parte2">
                <label for="cedula" class="ceshi_biaoti">Cédula</label>
                <input name="cedula" type="text" value="{% if user.is_authenticated %}{{user.cedula}}{% else %}{% endif %}" placeholder='Ej: 30948291' required />
            </div>

            <div class="parte2">
                <label for="correo" class="ceshi_biaoti">Correo del Usuario</label>
                <input name="correo" value="{% if user.is_authenticated %}{{user.correo}}{% else %}{% endif %}" type="text" placeholder='Ej: Alfredowuuuu@example.com' required />
            </div>

            <div class="parte2">
                <label for="telefono" class="ceshi_biaoti">Número de teléfono del Usuario</label>
                <div class="area_telefono">
                    <!-- <select name="" id="">
                        <option value="">0412</option>
                        <option value="">0424</option>
                        <option value="">0416</option>
                        <option value="">0414</option>
                        <option value="">0426</option>
                        <option value="">0212</option>
                    </select> -->
                    <input name="telefono" type="text" value="{% if user.is_authenticated %}{{user.telefono}}{% else %}{% endif %}" placeholder='Ej: 8888-8888888' required />
                </div>
            </div>

            <div class="parte2">
                <label for="direccion" class="ceshi_biaoti">Dirección del Usuario</label>
                <input name="direccion" value="{% if user.is_authenticated %}{{user.direccion}}{% else %}{% endif %}" type="text" placeholder='Ej: San Diego' required />
            </div>

            <input type="text" name="tipo" value="Cliente" style="display: none;">

            <button type='submit'>Entrar</button>
        </form>
    </div>

</body>

</html>