{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <!-- Botón de Catálogo -->
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#catalogSidebar" style="margin-top:1.5%">
        <i class="fa fa-bars"></i> <!-- Ícono de hamburguesa -->
        Catálogo
    </button>

    <!-- Sidebar de Catálogo -->
    <div id="catalogSidebar" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="catalogSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="catalogSidebarLabel">Categorías</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                {% for key, value in categ_dict.items %}
                    <a href="{% url 'catalog' key %}" class="list-group-item list-group-item-action d-flex flex-column align-items-center text-decoration-none">
                        <!-- Imagen de la categoría -->
                        {% for categoria in categorias1 %}
                            {% if categoria.name == value %}
                                <img src="{{ categoria.imagen.url }}" alt="{{ categoria.name }}" style="width: 30px; height: 30px; object-fit: cover; margin-bottom: 10px;">
                            {% endif %}
                        {% endfor %}
    
                        <!-- Nombre de la categoría -->
                        <span class="text-center">{{ value }}</span>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <!-- titulo de la pagina de categoria dinamico-->
    

    <div style="margin-left: 35%">
        <h1>Categoria: {{ input }}</h1>
    </div>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for receta in recetas %}
                <div class="col">
                    
                    <div class="card shadow-sm">
                        <img src="{{ receta.imagen.url }}" class="bd-placeholder-img card-img-top" style="width: 100%; height: 225px; object-fit: cover;"> 
                        <div class="card-body">
                            <h5 class="card-title">{{ receta.nombre }}</h5>
                            <p class="card-text">{{ receta.descripcion }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'vista entry' receta.id  %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <i class="fa fa-external-link-square"></i> <!-- Icono de "View" -->
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <i class="fa-regular fa-heart"></i> <!-- Icono de "Edit" -->
                                    </button>
                                </div>
                                <i class="fa fa-star" aria-hidden="true"> {{ receta.puntuacion }}</i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        </div>
    </div>
</div>
{% endblock %}