{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contenedor con la imagen y el chatbot -->
<div class="container mt-4">
    <div class="row">
        <!-- Columna para la imagen del robot -->
        <div class="col-md-6 mt-10" style="padding:0;margin-top:10%">
            <img src="{% static 'img/chef.png' %}" class="img-fluid" alt="Chatbot" style="width: 100%; height: auto;">
        </div>

        <!-- Columna para el chatbot -->
        <div class="col-md-6" style="margin-top:10%">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-question-circle"></i> Asistente Virtual
                </div>
                <div class="card-body" style="height: 400px; overflow-y: auto;" id="chat-box">
                    <div class="chat-message bot-message">
                        <div class="chat-message-content">
                            <p>Hola, soy tu asistente virtual. ¿En qué puedo ayudarte?</p>
                        </div>
                    </div>
                    <!-- Aquí se agregan más mensajes del chatbot dinámicamente -->
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="chat-input" placeholder="Escribe un mensaje...">
                        <button id="chat-message-submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}