
{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main class="container">

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          From the Firehose
        </h3>

        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">{{ receta.nombre }}</h2>
          <img src="{{ receta.imagen.url }}" width="100%" height="300" style="object-fit: cover;" class="mb-4">
          <small class="text-body-secondary">{{receta.date_modified}}</small>

          <p>{{ receta.descripcion }}</p>

          <h3>Ingredientes</h3>
          <ul>
            {% for ingrediente in ingredientes %}
                <li>{{ ingrediente.cantidad }} {{ ingrediente.unidad }} de {{ ingrediente.producto.nombre }}</li>
            {% endfor %}
          </ul>

          <h3>Preparación</h3>
          <div>
            {{ receta.preparacion }}
          </div>
        </article>

        <div class="tooltip-container" style="margin-left: 90%;">
          <button type="button" class="btn-tooltip" id="add-to-cart-btn" value="{{ receta.id }}">
              <i class="fa fa-cart-arrow-down"></i>
          </button>
          <span class="tooltip-message" id="tooltip-add-to-cart">Guardar ingredientes en carrito</span>
        </div>
        <div class="input-container">
            <button class="button" onclick="modificarValor(-1)">-</button>
            <input type="text" id="campo" class="input-field" value="1" >
            <button class="button" onclick="modificarValor(1)">+</button>
        </div>
          

      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic" style="margin-top: 30%;">Valoración</h4>
                <div id="star-rating" class="d-flex">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
            </div>
    
            <div>
              <h4 class="fst-italic">Post recientes</h4>

              {% for receta in last_recetas %}
                <ul class="list-unstyled">
                    <li>
                        
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'vista entry' receta.id  %}">
                            <img src="{{ receta.imagen.url }}" width="100" height="96" style="object-fit: cover;">
                            <div class="col-lg-8">
                                <h6 class="mb-0">{{ receta.nombre }}</h6>
                                <small class="text-body-secondary">{{receta.date_modified}}</small>
                            </div>
                        </a>
                       
                    </li>
                    <!-- Otras entradas recientes -->
                </ul>
              {% endfor %}

              
              
              
          </div>
    
          <div class="p-4">
            <h4 class="fst-italic">Visitanos en:</h4>
            <ol class="list-unstyled">
                <li>
                    <button type="button" class="btn btn-link d-flex align-items-center" onclick="window.location.href='https://github.com';">
                        <i class="fab fa-github" aria-hidden="true"></i> GitHub
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link d-flex align-items-center" onclick="window.location.href='https://twitter.com';">
                        <i class="fab fa-twitter" aria-hidden="true"></i> Twitter
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link d-flex align-items-center" onclick="window.location.href='https://facebook.com';">
                        <i class="fab fa-facebook" aria-hidden="true"></i> Facebook
                    </button>
                </li>
            </ol>
          </div>
      </div>
    </div>
  </main>




  <script src=="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}" ></script>
  <script src="{% static 'entry/script.js' %}"></script>
  <script src=="{% static 'assets/js/color-modes.js' %}" ></script>
  <script>
    //Inyectamos codigo jquery
    $(document).on('click', '#add-to-cart-btn', function(e){
        e.preventDefault(); // evita el comportamiento por defecto elemento html
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                receta_id: $('#add-to-cart-btn').val(),
                receta_qty: $('#campo').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                //console.log(json)
                //document.getElementById('cart_quantity').textContent = json.qty
                location.reload();
            },

            error: function(xhr, errmsg, err){
                
            }
        })
    })
  </script>


  {% endblock %}