{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" style="height: 100vh; margin-bottom: 10%;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="height: 100%;">
                <div class="carousel-item active">
                    <img src="{% static 'img/a.jpg' %}" class="bd-placeholder-img d-block w-100" alt="Descripción de la imagen" style="object-fit: cover; height: 100%;">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Ingredientes Frescos</h1>
                            <p class="opacity-75">Descubre nuestra selección de ingredientes frescos y orgánicos, perfectos para tus recetas favoritas.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Compra Ahora</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/b.jpg' %}" class="bd-placeholder-img d-block w-100" alt="Descripción de la imagen" style="object-fit: cover; height: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Recetas Deliciosas</h1>
                            <p>Explora nuestras recetas exclusivas que destacan los mejores ingredientes de nuestra tienda. ¡Cocina como un profesional!</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Ver Recetas</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/c.jpg' %}" class="bd-placeholder-img d-block w-100" alt="Descripción de la imagen" style="object-fit: cover; height: 100%;">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Ofertas Especiales</h1>
                            <p>No te pierdas nuestras ofertas especiales en ingredientes seleccionados. ¡Aprovecha y ahorra en tu próxima compra!</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Ver Ofertas</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            <div class="row" style="margin-bottom: 15%;">

                {% for categoria in categorias2 %}
                    <div class="col-lg-4">
                        <img src="{{ categoria.imagen.url }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Dulces" style="object-fit: cover;">
                        <h2 class="fw-normal">{{ categoria.name }}</h2>
                        <p>{{ categoria.descripcion }}</p>
                        <p><a class="btn btn-secondary" href="#">Ver recetas &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                {% endfor %}

            </div><!-- /.row -->

            <!-- START THE FEATURETTES -->
            <div class="album py-5 bg-body-tertiary">
                

                
                
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for receta in recetas %}
                            <div class="col">
                                
                                <div class="card shadow-sm">
                                    <div class="mainCorazon">
                                        <img src="{{ receta.imagen.url }}" class="bd-placeholder-img card-img-top logoCorazon" style="width: 100%; height: 225px; object-fit: cover;" data-id="{{ receta.id }}"> 
                                        <img src="{% static 'corazon/pngwing.com (1).png' %}" class="popCorazon">
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">{{ receta.nombre }}</h5>
                                        <p class="card-text">{{ receta.descripcion }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{% url 'vista entry' receta.id  %}">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                                        <i class="fa fa-external-link-square"></i> <!-- Icono de "View" -->
                                                    </button>
                                                </a>
                                                
                                                <button id="{{ receta.id }}" type="button" class="btn btn-sm btn-outline-secondary" onclick="add_favorite(event)">
                                                    
                                                    {% if receta in favoritos %}
                                                        <i id="heart-icon-{{ receta.id }}" class="fa-solid fa-heart" style="color: red;"></i>
                                                    {% else %}
                                                        <i id="heart-icon-{{ receta.id }}" class="fa-regular fa-heart"></i>
                                                    {% endif %}

                                                </button>
                                            </div>
                                            <i class="fa fa-star" aria-hidden="true"> {{ receta.puntuacion }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
            <!-- /END THE FEATURETTES -->

    </main>
{% endblock %}
