{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'vista pagina principal' %}">
            <img src="{% static 'icon/icono supermercado.png' %}" alt="Logotipo de TuTienda" style="height: 40px; margin-right: 10px;">
            TuTienda
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'vista pagina principal' %}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-disabled="true" href="{% url 'chatbot' %}">Chatbot</a>
            </li>
            {% if user.is_authenticated %}    
                <li class="nav-item">
                    <a class="nav-link " aria-disabled="true" href="{% url 'logout' %}">Salir</a>
                </li>
            {% else %}
            <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link " aria-disabled="true" href="Url Iniciar Sesion">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-disabled="true" href="Url regostrar">Registrar</a>
                </li>
            </li>
            {% endif %}
            </ul>
    
            <div class="d-flex" role="search" >
                <input id="searchInput" class="form-control me-2" type="search" placeholder="Buscar ingredientes" aria-label="Buscar">
                <button class="btn btn-outline-success" id="searchButton" >Buscar</button>
            </div>
    
            <!-- Iconos -->
            <div style="margin-left: 10px;">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-globe"></i> <!-- Icono de "View" -->
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-user"></i> <!-- Icono de "User" -->
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#cartModal">
                   
                    <i class="fa fa-shopping-cart"></i> <!-- Icono de "Shopping Cart" -->
                    <span id="cart-count" style="
        font-size: 0.75rem;
        background-color: red;
        color: white;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em; /* Centra verticalmente el texto */
        display: inline-block;
    ">{{ cart|length }}</span>
                </button>
            </div>
        </div>
    </div>
</nav>

<script>
    $(document).on('click', '#searchButton', function(e){
        e.preventDefault(); // evita el comportamiento por defecto del formulario
        let input = $('#searchInput');
        let value = input.val();
        let modifiedValue = value.trim().replace(/\s+/g, '-');

        // Redirige el navegador a la nueva URL
        window.location.href = '/search/' + modifiedValue + '/';
    })
</script>